
* {
    box-sizing: border-box;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(245, 231, 231);
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    
}

main > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    height: 200 px;
    width: 200 px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    background-color: rgb(168, 190, 168);
    font-family: fantasy;
    font-size: 25px;
    
}

.outline {
    border: 2px solid darkgrey;
}
.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 16px;
    font-family: Gill Sans;
}


header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(123, 155, 123);
    height: 75px;
    min-width: auto;

}

header {
    font-family: Verdana;
    font-size: 30px;
    text-shadow: 1px 1px 10px rgb(243, 243, 164);
}

form {
    display: flex;
    justify-content: baseline;
    align-items: flex-end;
    height: 200px;
    padding-bottom: 5px;
    
}

div > img{
    width: fit-content;
    height: 400px;

}

