* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('https://us.123rf.com/450wm/mattanin/mattanin1710/mattanin171000095/88285342-raw-rice-in-wooden-spoonbowl-on-chopping-wood-plate-and-green-leaves-for-cook-the-seed-of-rice.jpg?ver=6');
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

}

main>section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    height: 200 px;
    width: 200 px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    background-color: rgb(168, 190, 168);
    font-family: fantasy;
    font-size: 25px;
    flex-grow: 1;

}

.outline {
    border: 2px solid black;
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}


header,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(111, 136, 111);
    height: 85px;
    min-width: auto;

}

header {
    font-family: Verdana;
    font-size: 35px;
    text-shadow: 1px 1px 8px black;
    color: black;
}

form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    width: 300px;
    padding-bottom: 5px;
    text-align: center;

}

div>img {
    width: 775px;
    height: 350px;

}