
* {
    box-sizing: border-box;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    
}

main > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    
}

.card {
    min-height: 150 px;
    min-width: 300 px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

.outline {
    border: 2px solid darkgrey;
}
.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(123, 155, 123);
    height: 75px;
    min-width: auto;

}

header {
    font-family: Verdana;
    font-size: 30px;
    text-shadow: 1px 1px 10px rgb(243, 243, 164);
}

form {
    display: flex;
    justify-content: baseline;
    align-items: flex-end;
    height: 200px;
    padding-bottom: 5px;
}

